.container{
    margin-top: 0%;
    padding-top: 0%;
    margin-right: 0%;
    margin-left:  0%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.iconNew{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

hr{
    size: 0.5px;
    padding-top: 0;
    margin-top: 0;
}

.main{
    font-size: 8vw;
    font-weight: bold;
    height: 48vh;
    font-family: Verdana;
    color: rgb(211, 69, 30);
    text-align: center;
    padding-top: 17.5vh;    
}

.nav{ 
    padding-top: 0%;
    margin-top: 0%;
    height: 10vh;
    width : 100%;
    font-size: 4vh;
    left: 0 !important;
    top: 0;
    padding-left: 0%;
    margin-left: 0%;
    padding-bottom: 0;
    z-index: 20;
    box-shadow: 0 0 5px black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.insta{
    font-family: "Lobster",sans-serif;
    text-align: center;
    font-weight: 200;
    padding-top: 0%;
    top: 0;
    font-size: 1.2em;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 4vh;
    width: 100%;
    z-index: 20;
    box-shadow: 0 0 10px black;
  }

.border-icon{
    box-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.active{
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
